extends ../layouts/main-layout.pug

block content 
        main
            .product
                img(src="product1.jpg", alt="Product-1")
                h2 Product 1
                p Description of Product 1
                span.price $19.99
            .checkout 
                button Proceed To Checkout
        