.form-Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  position: relative;
  z-index: 9;
  width: 40%;
  background-color: #fff;
  padding: 1.2rem 1.2rem 3.2rem 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 7px 12px 15px 2px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 139, 150, 0.9);
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 90% 0, 0 110%);
}

.lg-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  width: 80%;
  align-items: center;
}

.form-title {
  margin-bottom: 5rem;
  padding: 2rem 0;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  width: 80%;
  position: relative;
}

label {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  width: 20%;
  text-align: left;
  color: #fff;
}

input {
  width: 100%;
  padding: 1.2rem 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: 0;
  border: 1px solid rgba(128, 139, 150, 0.7);
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-group {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

button,
button:active {
  position: relative;
  cursor: pointer;
  padding: 1rem 3rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(128, 139, 150, 0.7);
  box-shadow: rgba(0, 0, 0, 0.05) 7px 12px 15px 2px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover,
button:active:hover {
  border: 1px solid transparent;
  background-color: rgba(128, 139, 150, 0.7);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 2px 5px 5px 2px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
}

.account-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  color: #000;
}

.account-links a {
  color: #000;
  font-size: 1.2rem;
}

.icon {
  margin-right: 2rem;
  color: #fff;
  width: 2rem;
  height: 2rem;
}

.eye-icon {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
