* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  height: 100vh;
  letter-spacing: 0.15rem;
}

ul {
  list-style: none;
}

:root {
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Layout */
.container {
  padding: 5rem 2rem;
}

/* Form Style */

input::placeholder,
button {
  letter-spacing: 0.15rem;
}
