.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid #00a1b2;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  border-radius: 1rem;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.main-div {
  background-color: #00a1b2;
  width: 600px;
  height: 400px;
}

.g-div {
  background-color: #33ed28;
  width: 400px;
  height: 300px;
}

.p-div {
  background-color: #9c5e07;
  width: 200px;
  height: 100px;
}

.c-div {
  background-color: #ad1287;
}

.state-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

/* .child-component {
  width: 20rem;
  height: 20rem;
  padding: 2rem 3rem;
  background-color: cadetblue;
  color: #fff;
}

.child-component p {
  color: #fff;
} */

h2 {
  font-size: 2rem;
}

.input {
  padding: 1rem 2rem;
  border: 1px solid var(--para-color);
  border-radius: 0.5rem;
}

.todo-content {
  background-color: #212f3c;
  height: 100vh;
  color: #fff;
}
