body {
  margin: 0;
}

.budgetInfo {
  padding: 10px;
  width: 500px;
  margin: 0 auto;
}

#budgetForm {
}

fieldset {
  margin: 10px 0 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.amount {
  width: 50%;
  padding: 10px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn {
  display: block;
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: 0;
  border: none;
  background-color: rgba(59, 167, 49, 0.863);
}

.remove {
  background-color: rgba(236, 66, 66, 0.863);
}

.revise {
  background-color: rgba(66, 120, 236, 0.863);
}

.upArr,
.downArr {
  font-weight: bold;
  background-color: rgba(19, 18, 18, 0.863);
  color: #fff;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.btnGroup {
  display: flex;
  column-gap: 5px;
}
