* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #eff3ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  color: #000 !important;
  text-align: center;
}

p,
span {
  font-size: 1.4rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.container {
  max-width: 140rem;
  width: 100%;
  margin: auto;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  text-align: center;
  margin: 3.2rem 0;
  align-items: end;
}

header {
  margin: 3.2rem 0;
}

.pokemon-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.card-demo {
  display: flex;
  justify-content: center;

  & .pokemon-card {
    min-height: 32rem;
  }
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  width: 32rem;
  border-bottom: 0.2em solid #020d35;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.8em;
  font-size: 1.6rem;
  color: #000000;
  -webkit-border-radius: 0.2em 0.2em 0 0;
  -moz-border-radius: 0.2em 0.2em 0 0;
  -ms-border-radius: 0.2em 0.2em 0 0;
  -o-border-radius: 0.2em 0.2em 0 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.pokemon-card {
  width: 34rem;
  min-height: 42rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  padding: 1.6rem;
  position: relative;
}

.pokemon-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transform: rotate(180deg);
  background-color: #ebfbf1;
  border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  z-index: 0;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover::before {
  -webkit-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -moz-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -ms-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -o-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.03);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

figure {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 50px 100px rgba(50, 50, 93, 0.25));
}

.pokemon-name {
  font-size: 3.2rem;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  margin-top: 2.4rem;
}

.pokemon-highlight {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.6rem 0;

  & p {
    padding: 0.6rem 2.4rem;
    background-color: #2ecc71;
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.pokemon-image {
  width: 60%;
  height: 15rem;
}

.pokemon-info {
  text-align: center;
  font-size: 1.4rem;
}

/* ///////////////////////////////////////// */
.short-container {
  width: 65rem;

  & h1 {
    margin-bottom: 3.2rem;
  }

  & p {
    margin-bottom: 1.6rem;
  }

  & button {
    padding: 0.6rem 0;
    cursor: pointer;
  }
}
