* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  letter-spacing: 1.5px;
}

body {
  width: 100%;
  background-color: #eff3ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  color: #000 !important;
  text-align: center;
}

p,
span {
  font-size: 1.4rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.container {
  max-width: 140rem;
  width: 100%;
  margin: auto;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 1.5rem 2rem;
  background-color: #2eca71;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 600;
  font-size: 1.4rem;
}

input[type="text"],
input[type="search"],
textarea {
  appearance: none;
  border: none;
  outline: none;
  width: 32rem;
  background: rgba(#e91e63, 0.2);
  border-radius: 1rem;
  padding: 0.8em;
  font-size: 1.6rem;
  color: #000000;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: 1px solid #2eca71;
}

input[type="search"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="text"]::placeholder,
input[type="search"]::placeholder,
textarea::placeholder {
  letter-spacing: 1.5px;
}

fieldset {
  border: none;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  text-align: center;
  margin: 3.2rem 0;
  align-items: end;
}

header {
  margin: 3.2rem 0 5rem 0;
  position: relative;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.weather-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  width: 30rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.weather-info {
  padding: 5rem;
}

.title {
  color: #2eca71;
  text-align: center;
  margin: 0 0 2rem 0;
}

.weather-info p:not(:last-child) {
  margin: 0 0 1rem 0;
}

.date {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
