extends ../layouts/main-layout.pug

block content 
        main
            .breadcrumb 
                h2 Add Products 
            form.product-form(action="/admin/add-product",method="POST")
                .form-control
                    label.title Title
                    input(type="text", name="title")#title
                .form-control
                    label.imgUrl Image URL
                    input(type="text", name="imageUrl")#imgUrl
                .form-control
                    label.price Price
                    input(type="text", name="price")#price
                .form-control
                    label.desc Description
                    textarea(name="description", cols="30", rows="10")#description
                button(type="submit") Add Product