extends ../layouts/main-layout.pug

block content 
        main
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="#{product.imageUrl}", alt="A Book")
                            div.card__content
                                h2.product__price $#{product.price}
                                p.product__description #{product.desc}
                            .card__actions
                                button.btn Add to Cart
            else
                h1 No Products