<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- Left Side Div -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure class="errimg">
                <img
                  src="images/404.png"
                  alt="thapa"
                  class="img-fluid"
                  title="thapa technical"
                />
              </figure>
              <p>Welcome to weather app</p>
              <h1>
               {{errorMsg}}
              </h1>
              <a href="/"><button>Go Back!</button></a>    
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{>footer}}
  </body>
</html>