<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- Left Side Div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/about.png"
                  alt="thapa"
                  class="img-fluid"
                  title="thapa technical"
                />
              </figure>
            </div>
            <!-- Right Side Div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I am A
                <span class="text_clr">MERN stack developer</span>
                working as a tester.
              </h1>
              <a href="/about" target="_blank"><button>about me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{>footer}}
  </body>
</html>