<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container main_header">
    
     
          <div class="row">
            <!-- Left Side Div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                Get The Latest
                <span class="text_clr">Weather</span>
                Info Of Your City
              </h1>
              <a href="/weather"><button>check now</button></a>
            </div>
            <!-- Right Side Div -->
            <div class="col-md-6 col-12 main_header_right">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/bg1.png" class="w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="images/bg2.png" class="w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="images/bg3.png" class="w-100" alt="..." />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        
    
    </div>

    <!-- Footer -->
    {{>footer}}
  </body>
</html>