<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container main_header">
      <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                </form>
            </div>
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_date">13 OCT</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0</span> <sup>o</sup></p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script>
      const currentDay = document.getElementById("day");
      const date = document.getElementById("today_date");

      // Displaying Date
      const currDate = new Date();
      const arrDays = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

      const arrMonths = [
        "JAN",
        "FEB",
        "MAR",
        "APR",
        "MAY",
        "JUNE",
        "JULY",
        "AUG",
        "SEP",
        "OCT",
        "NOV",
        "DEC",
      ];

      const getdate = () => {
        if (currDate.getDate() < 10) {
          return `0${currDate.getDate()}`;
        } else {
          return `${currDate.getDate()}`;
        }
      };

      // Getting Current Day
      currentDay.innerText = `${arrDays[currDate.getDay()]}`;
      // Getting Current Date and Month
      date.innerText = `${getdate()}, ${arrMonths[currDate.getMonth()]}`;
    </script>
  </body>
</html>