body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #495057;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #066649;
  /* padding: 0 1.5rem; */
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.main-header__item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main-header__item {
  padding: 0;
  margin: 0 1rem;
}

.main-header__item a,
.main-header__nav .logo a {
  text-decoration: none;
  color: #fff;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__nav .logo a:hover {
  color: #fcc419;
}

main {
  padding: 1rem;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}
.form-control input,
.form-control textarea {
  border: 1px solid #066649;
  font: inherit;
  border-radius: 2px;
  padding: 8px 5px;
}
button {
  font: inherit;
  border: 1px solid #066649;
  padding: 0.8rem 2.5rem;
  color: #021912;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: #52a58c;
  color: #021912;
}
