* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  letter-spacing: 1.5px;
}

body {
  width: 100%;
  background-color: #eff3ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  color: #000 !important;
  text-align: center;
}

p,
span {
  font-size: 1.4rem;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

.container {
  max-width: 140rem;
  width: 100%;
  margin: auto;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 1.2rem 2rem;
  background-color: #2eca71;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
}

input[type="text"],
input[type="search"],
textarea {
  appearance: none;
  border: none;
  outline: none;
  width: 32rem;
  background: rgba(#e91e63, 0.2);
  border-radius: 1rem;
  padding: 0.8em;
  font-size: 1.6rem;
  color: #000000;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: 1px solid #2eca71;
}

input[type="text"]::placeholder,
textarea::placeholder {
  letter-spacing: 1.5px;
}

fieldset {
  border: none;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  text-align: center;
  margin: 3.2rem 0;
  align-items: end;
}

header {
  margin: 3.2rem 0 5rem 0;
  position: relative;
}

.create-btn {
  position: absolute;
  right: 2rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.notes-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
  position: absolute;
  width: 50%;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
}

.overlay {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
}

fieldset {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  min-height: 20rem;
}

.save-btn {
  width: 8rem;
  margin: 0 auto;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.note-card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 3rem;
  border: 1px solid #2eca71;
  border-radius: 1rem;
  box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  cursor: pointer;
}

.note-card:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
}

.note-title,
.form-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.note-content {
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.more-content {
  position: absolute;
  z-index: 2;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.close-icon {
  position: absolute;
  top: -3rem;
  right: -2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.notes-form .close-icon {
  top: 2rem;
  right: 2rem;
}

.delete-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #ff000091;
}

.delete-icon:hover {
  color: #ff0000;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
